[Container]
AutoUpdate=registry
ContainerName=mirror
HealthCmd=wget -nv -t1 --spider http://localhost/
HealthOnFailure=kill
Image={{ mirror_image }}
LogDriver=journald
Network=proxy.network
Timezone=local
Volume={{ mirror_root_volume }}:/mirror:z,ro

[Service]
Restart=always

[Install]
WantedBy=default.target
