name: mirror-root

services:
  caddy:
    image: ghcr.io/rowlul/lcmirror/web:caddy-2.9.1
    hostname: root.mirror
    volumes:
      - {{ mirror_root }}:/data:z,ro
    environment:
      - TZ={{ lcinfra_timezone }}
    healthcheck:
      test: ["CMD-SHELL", "wget -nv -t1 --spider -O /dev/null http://localhost/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

networks:
  default:
    name: proxynet
    external: true
