services:
  caddy:
    image: caddy:2.9.1
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: udp
        mode: host
    volumes:
      - ./conf:/etc/caddy:Z
      - {{ proxy_data }}:/data:Z
    environment:
      - TZ={{ lcinfra_timezone }}
    restart: unless-stopped

networks:
  default:
    name: proxynet
    driver: bridge
