#!/bin/sh
target="/mirror"
lock="/var/lock/syncrepo.lck"
bwlimit=0
source_url="rsync://{{ mirror_archlinux['config']['source_url'] }}/"
lastupdate_url="https://{{ mirror_archlinux['config']['source_url'] }}/lastupdate"

[ ! -d "${target}" ] && mkdir -p "${target}"

exec 9>"${lock}"
if ! flock -n 9; then
    exit
fi

find "${target}" -name '.~tmp~' -exec rm -r {} +

rsync_cmd() {
    cmd="rsync -rlptH --safe-links --delete-delay --delay-updates --timeout=600 --contimeout=60 --no-motd"
    if stty >/dev/null 2>&1; then
        cmd="$cmd -h -v --progress"
    else
        cmd="$cmd --quiet"
    fi
    if [ "$bwlimit" -gt 0 ]; then
        cmd="$cmd --bwlimit=$bwlimit"
    fi
    $cmd "$@"
}

if [ ! -t 1 ] && [ -f "$target/lastupdate" ]; then
    if curl -Ls "$lastupdate_url" | diff -b - "$target/lastupdate" >/dev/null; then
        rsync_cmd "$source_url/lastsync" "$target/lastsync"
        exit 0
    fi
fi

rsync_cmd \
{% if mirror_archlinux["config"]["rsync_opts"] %}
{{ mirror_archlinux["config"]["rsync_opts"] }} \
{% endif %}
"$source_url" \
"$target"

echo "Last sync was $(date -d @$(cat "${target}/lastsync"))"
