[Container]
AutoUpdate=registry
ContainerName=prometheus
Image={{ prometheus_image }}
LogDriver=journald
Network=metric.network
Timezone=local

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
