[Container]
AutoUpdate=registry
ContainerName=prometheus
Group=0
Image={{ prometheus_image }}
LogDriver=journald
Network=metric.network
Timezone=local
User=0
Volume={{ prometheus_data_volume }}:/prometheus:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
