[Container]
AutoUpdate=registry
ContainerName=prometheus
HostName=prometheus
Image={{ prometheus_image }}
LogDriver=journald
Network=metric.network
Timezone=local
Volume={{ prometheus_volume_data }}:/prometheus

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
