[Container]
AutoUpdate=registry
ContainerName=proxy
HostName=proxy
Image={{ proxy_image }}
LogDriver=journald
Network=proxy.network
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp
Timezone=local
Volume={{ proxy_data_volume }}:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
