[Container]
AutoUpdate=registry
ContainerName=rsync-archlinux
Environment=CRONTAB_SCHEDULE="{{ mirror_archlinux_schedule }}"
Environment=SYNCREPO_SOURCE_URL="{{ mirror_archlinux_source_url }}"
Environment=SYNCREPO_LASTUPDATE_URL="{{ mirror_archlinux_lastupdate_url }}"
HealthCmd=wget -nv -t1 --spider http://localhost:9746/metrics
HealthOnFailure=kill
Image={{ mirror_archlinux_image }}
LogDriver=journald
Network=services.network
Timezone=local
Volume={{ mirror_archlinux_volume }}:/mirror:z

[Service]
Restart=always

[Install]
WantedBy=default.target
