[Container]
AutoUpdate=registry
ContainerName=mirror-archlinux-rsync
HostName=archlinux.rsync
Environment=CRONTAB_SCHEDULE="{{ mirror_archlinux_schedule }}"
Environment=SYNCREPO_SOURCE_URL="{{ mirror_archlinux_source_url }}"
Environment=SYNCREPO_LASTUPDATE_URL="{{ mirror_archlinux_lastupdate_url }}"
Image={{ mirror_archlinux_image }}
LogDriver=journald
Network=metric.network
Timezone=local
Volume={{ mirror_archlinux_volume }}:/mirror:z

[Service]
Restart=always

[Install]
WantedBy=default.target
