[Container]
AutoUpdate=registry
ContainerName=mirror-archlinux-web
HostName=archlinux.mirror
Image={{ mirror_image }}
LogDriver=journald
Network=proxy.network
Timezone=local
Volume={{ mirror_archlinux_volume }}:/mirror:z,ro

[Service]
Restart=always

[Install]
WantedBy=default.target
